<h1>Restaurant Manager</h1>

<ul>
	<h3> Restaurants </h3>
  <li><a href="/restaurants">Restaurant Index</a></li>
	<br>
  <li><a href="/restaurants/new">New Restaurant</a></li>
</ul>
<br>
<ul>
<h3> Menu Items </h3>
  <li><a href="/items">Menu Items Index</a></li>
</ul>