<h1>Restaurants</h1>

<% @restaurants.each do |restaurant| %>
	<p><%= link_to restaurant.name, "/restaurants/#{restaurant.id}" %></p>   
	<p>Created at: <%= restaurant.created_at %> </p>
	<p><%= button_to "Edit #{restaurant.name}", "/restaurants/#{restaurant.id}/edit", method: :get %></p>   

	<% end %>
	
	<p><%= link_to "New Restaurant", "/restaurants/new" %> </p>

